[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
numpy = "*"
matplotlib = "*"
openpyxl = "*"
holidays = "*"
seaborn = "*"
scikit-learn = "*"
xgboost = "*"
interpret = "*"
mlflow = "*"
optuna = "*"
torch = "*"
tensorflow = "*"
mapie = "*"

[dev-packages]
ipykernel = "*"

[requires]
python_version = "3.12"
python_full_version = "3.12.7"
